# ~/.config/helix/languages.toml
[[language]]
name = "python"
language-servers = ["basedpyright", "ruff"]
auto-format = true

[language-server.basedpyright]
command = "basedpyright-langserver"
args = ["--stdio"]

[language-server.ruff]
command = "ruff"
args = ["server", "--preview"]

[[language]]
name = "haskell"
scope = "source.haskell"
roots = ["*.cabal", "cabal.project", "hie.yaml"]
language-servers = [ "hls" ]
indent = { tab-width = 2, unit = "  " }

[language-server.hls]
command = "haskell-language-server-wrapper"
args = ["--lsp"]
config = { formattingProvider = "ormolu" } # The standard formatter


[[language]]
name = "bash"
auto-format = true
formatter = { command = "shfmt" }

[[language]]
name="rust"
auto-format = true
language-servers = ["rust-analyzer"]

[language-server.rust-analyzer]
command = "rust-analyzer"

[[language]]
name = "typst"
auto-format = true
formatter.command = "typstyle" 
language-servers = ["tinymist"]

[language-server.tinymist]
command = "tinymist"

[[language]]
name = "c"
auto-format = true
formatter = { command = "clang-format", args = ["--style=LLVM"] }
language-servers = ["clangd"]

[[language]]
name = "cpp"
auto-format = true
formatter = { command = "clang-format" } 
language-servers = ["clangd"]

[language-server.clangd]
command = "clangd"
args = [
  "--query-driver=/usr/bin/clang++*",
  "--background-index",
  "--header-insertion=iwyu",
  "--completion-style=detailed",
]
